/* ---------------- Press Releases ---------------- */

.press-releases {

}

.press-releases__title {
    margin: 0 0 14px;

    h1 {
        margin: 0;
        line-height: 100%;
    }
}

.press-releases__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.press-releases__items__item {
    display: flex;
    flex-direction: column;

    time,
    p {
        color: var(--darkGrayColor);
        font-size: var(--smFontsize);
        font-style: normal;
        font-weight: 344;
        line-height: 24px;
        margin: 0;
    }

    strong {
        color: var(--tertiaryColor);
        font-size: var(--smFontsize);
        font-style: normal;
        font-weight: 344;
        line-height: 24px;
        margin: 0;
    }
}

.press-releases__button {
    margin-top: 71px;
}